.open-sidenav {
    width: 265px;
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    border-right: 1px solid #00000010;
}