.loginForm {
    max-width: 350px;
    padding: 30px;
    background: #F8F8F8;
    border-radius: 5px;
}

.loginForm form {
    border-top: 2px solid orange;
    background: white;
    padding: 15px;
}